@import url("https://fonts.google.com/specimen/Barlow");
@import url("https://fonts.google.com/specimen/Fraunces");
.top{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("image-header.jpg");
    background-position:center ;
    background-size:cover ;
}

.toph{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sideh{
    color: #fff;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}

.sidenav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Fraunces', serif;
    font-weight: 200;
    color: #fff;
}

.topc{
    color: #fff;
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    align-self: center;
    font-size: 2em;
}